@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@source "../node_modules/@fluffylabs/shared-ui/dist/";

.text-brand-dark {
  color: var(--color-brand-dark);
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, html.light {
    color-scheme: light;
    --foreground: #213547;
    --color-foreground: #213547;
    --background: #f8f8f8;
    --color-background: #f8f8f8;
}

html.dark {
    color-scheme: dark;
    --foreground: #f8f8f8;
    --color-foreground: #f8f8f8;
    --background: #242424;
    --color-background: #242424;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
